<!DOCTYPE html>
<!-- layout('layouts/boilerplate') -->

<html lang="en">
<head>

    <meta charset="utf-8">
    <title>drega.dev</title>
    <meta name="Temp Name" content="Login">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/home.css">

</head>

<body>
    <div class="titlebox toggle show">
        <div class="underline">
            <h1 class="title">Andre Ortega | Software Developer</h1>
        </div>
    </div>

    <div class="hello-container">
        <div class="hello toggle show">
            <%- include('partials/hello')  %>
        </div>
    </div>

    <div id="down-arrow" class="hide animate-frame-one">
        &#8595;
    </div>
    
    <div class="portfolio hide">
        <h2 class="portfolio-title">Portfolio</h2>
        <div class="spacer"></div>

        <div class="portfolio-items">

            <div class="item">
                <div class="item-title">
                    <h3>YelpCamp</h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="https://nameless-scrubland-88013.herokuapp.com/" target="_blank">
                            <img class="item-img" src="/images/yelpcamp.png">
                        </a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/yelpcamp') %> 
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    <h3>Audio Loop Station</h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="https://github.com/muhnkee/AudioLoop" target="_blank"> <img class="item-img" src="/images/AudioLooper.png"></a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/audioLooper') %> 
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    <h3>Sudoku Solver</h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="https://github.com/andre-ortega/sudoku-solver" target="_blank">
                            <img class="item-img" src="/images/solver.gif">
                        </a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/sudokuSolver') %> 
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    <h3>Small Shell</h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="https://github.com/andre-ortega/smallsh" target="_blank">
                            <img class="item-img" src="/images/smallsh.png">
                        </a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/smallsh') %> 
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    <h3>IA-32 Assembly </h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="https://github.com/andre-ortega/IA32-assembly-demo" target="_blank">
                            <img class="item-img" src="/images/assembly.png">
                        </a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/assembly') %> 
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    <h3>Indiana Jones Golden Idol Heist Simulator</h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="https://github.com/andre-ortega/IndyJones" target="_blank">
                            <img class="item-img" src="/images/indy.png">
                        </a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/indyJones') %> 
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    <h3>Hashmap Spellchecker</h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="" target="_blank">
                            <img class="item-img" src="/images/hashmap.png">
                        </a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/hashmap') %> 
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    <h3>Django Recipe App</h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="https://github.com/andre-ortega/recipe-app-api" target="_blank">
                            <img class="item-img" src="/images/recipe.png">
                        </a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/recipe') %> 
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    <h3>More Python TDD</h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="https://github.com/andre-ortega/TestDrivenDevelopment" target="_blank">
                            <img class="item-img" src="/images/TDD.png">
                        </a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/TDD') %> 
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    <h3>Automated Backups</h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="https://github.com/andre-ortega/BackupConfigs" target="_blank">
                            <img class="item-img" src="/images/backup.png">
                        </a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/backup') %> 
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    <h3>Filetree</h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="https://github.com/andre-ortega/Treek/blob/main/treek.sh" target="_blank">
                            <img class="item-img" src="/images/tree.png">
                        </a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/tree') %> 
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    <h3>Parallel Programming</h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="https://github.com/andre-ortega/MPI-programming-final" target="_blank">
                            <img class="item-img" src="/images/parallel.png">
                        </a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/parallel') %> 
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-title">
                    <h3> <span id="grey">></span> This site right here <span id="grey"><</span></h3>
                </div>
                <div class="item-inner">
                    <div class="item-img-container">
                        <a href="https://github.com/andre-ortega/drega" target="_blank">
                            <img class="item-img" src="/images/drega.png">
                        </a>
                    </div>
                    <div class="item-description">
                        <%- include('partials/drega') %> 
                    </div>
                </div>
            </div>

        </div>

        <div id="finalContainer">

            <p id="finalMsg">
                What's next? You tell me.
            </p>

            <button id="btn">
                contact
            </button>
        </div>

        <div id="fadeOut" class="hideForm">
        </div>
            
        <div id="formContainer" class="hideForm">

            <form id="form" action="https://formsubmit.co/92cfb8c52a1f0ac7539f4187a22e5f1a"  method="post">
                <!-- Honeypot -->
                <input type="text" name="_honey" style="display: none;">
                <!-- Disable Captcha -->
                <input type="hidden" name="_captcha" value="false">
                <!-- Redirect success page -->
                <input type="hidden" name="_next" value="https://www.drega.dev/success">

                <div class="nameDivContainer">

                    <div class="nameDiv">
                        <label for="firstName">first</label>
                        <input type="text" name="name" value="" id="firstName" required>
                    </div>

                    <div class="nameDiv">
                        <label for="LastName">last</label>
                        <input type="text" name="Last&nbsp;Name" value="" id="lastName" required>
                    </div>
                    
                </div>
                
                <label for="email">email</label>
                <input type="email" name="email" value="" id="email" required>

                <label for="message">message</label>
                <textarea id="message" name="" placeholder="..." class="form-control" rows="10" required></textarea>

                <div id="buttons">
                    <button id="send" type="submit">send</button>
                    <button id="cancel" type="" id="cancel">cancel</button>
                </div>
                
            </form>
        </div>

        <footer>
            <p>&copy; 2022 ANDRE ORTEGA</p>
        </footer>

    </div>

    <script src="/scripts/home.js"></script>
</body>
